core/
vendor/

sites/*/settings*.php
sites/*/services*.yml

sites/*/files/
sites/*/private/

sites/*/translations/

sites/*/files/php/twig/

*.backup
*.bak

*.log

*.tmp
*.temp

.DS_Store
Thumbs.db

.ddev/
.history/
.idea/
.vscode/
*.swp
*.swo

node_modules/