.ui-dialog-titlebar {
  display: none;
}

#drupal-off-canvas-wrapper {
  background: none;
  background-color: #f5f7fb;
}

#drupal-off-canvas {
  height: calc(100% - var(--gin-toolbar-y-offset)) !important;
  padding-top: 10px;
  background: none;
  background-color: #f5f7fb;
  box-shadow: -0.2rem 0 1rem 0 rgba(116, 116, 116, 0.4);
}

#drupal-off-canvas hr {
  margin: 1em;
  margin-left: 0;
}

#drupal-off-canvas .field-group-tabs-wrapper {
  padding-top: 10px;
}

#drupal-off-canvas .form-item__description {
  display: none;
}

#drupal-off-canvas .layout-node-form__actions {
  display: block;
}

#drupal-off-canvas .meta-sidebar__trigger {
  display: none;
}

#drupal-off-canvas .visual-editor-breadcrumbs {
  margin-left: 0;
  font-size: small;
}

#drupal-off-canvas .visual-editor-breadcrumbs li {
  display: inline;
  list-style: none;
  font-size: small;
}

#drupal-off-canvas-wrapper .js-media-library-item.media-library-item.media-library-item--grid {
  width: auto !important;
  max-width: 100% !important;
}

#drupal-off-canvas-wrapper .form-element {
  width: 100% !important;
  max-width: 100% !important;
}

#drupal-off-canvas-wrapper tr.draggable .form-element {
  width: 85% !important;
  max-width: 85% !important;
}

#drupal-off-canvas-wrapper #dialog-toggle {
  padding-right: 10px;
  cursor: pointer;
  font-size: large;
}
