{#
  Token preview link.

  Variables available:
  - title: The link title.
  - attributes: HTML attributes for the link.
    - class: The class name.
    - href: The URL for the token.
  - node: the node object.
  - preview_token: The preview token string.
  - preview_token_url: The generated preview URL object.
  - preview_token_access: True if the preview is being view via token.
#}

{% block content %}
  {% if not preview_token_access and preview_token %}
    <a{{ attributes }}>{{ title }}</a>
  {% endif %}
{% endblock %}
